- return unless can?(current_user, :archive_project, @project)

.sub-section{ data: { qa_selector: 'archive_project_content' } }
  %h4.warning-title
    - if @project.archived?
      = _('Unarchive project')
    - else
      = _('Archive project')
  - if @project.archived?
    %p= _("Unarchiving the project will restore people's ability to make changes to it. The repository can be committed to, and issues, comments, and other entities can be created. %{strong_start}Once active, this project shows up in the search and on the dashboard.%{strong_end}").html_safe % { strong_start: '<strong>'.html_safe, strong_end: '</strong>'.html_safe }
    = link_to _('Unarchive project'), unarchive_project_path(@project),
        data: { confirm: _("Are you sure that you want to unarchive this project?"), qa_selector: 'unarchive_project_link' },
        method: :post, class: "gl-button btn btn-success"
  - else
    %p= _("Archiving the project will make it entirely read only. It is hidden from the dashboard and doesn't show up in searches. %{strong_start}The repository cannot be committed to, and no issues, comments, or other entities can be created.%{strong_end}").html_safe % { strong_start: '<strong>'.html_safe, strong_end: '</strong>'.html_safe }
    = link_to _('Archive project'), archive_project_path(@project),
      data: { confirm: _("Are you sure that you want to archive this project?"), qa_selector: 'archive_project_link' },
      method: :post, class: "gl-button btn btn-warning"
